@import url(m_style.css);
.full(@w,@h,@bg){
    width:@w;
    height:@h;
    background: @bg;
}
.box(@dir:horizontal){
    display: -webkit-box;
    -webkit-box-orient: @dir;
}
html,body,.container{
    width:100%;
    height:100%;
    overflow: hidden;
}
.container{
  .box(vertical);
  header{      
      .full(100%,0.98rem,#282828);
      .box;
     
          
            background: #282828 url(../img/you.gif) no-repeat 0.34rem center;
            background-size: 0.36rem;
            padding-left: 0.27rem;
      
          
          h3{
              text-align: center;
              line-height: 0.98rem;
              -webkit-box-flex: 1;
              font-size: 0.37rem;
              color: #f1f1f1;
                  
          }

  }
  section{
        overflow: auto;
      -webkit-box-flex: 1;
      .hongjiu{
      img{
          .full(100%,auto,none);
      }
      }
      .main{
          
          .main_1{
              overflow: hidden;
              .full(100%,1.99rem,none);
              border-bottom: 1px solid #e1e2e9;
          dl{
              .box;
               margin-top: 0.1rem;
               margin-left: 0.1rem;
              dt{
                  
                  img{
                      .full(1.82rem,1.8rem,none);
                     
                  }
              }
              dd{
                  
                   margin-left: 0.3rem;
                  h1{
                      font-size: 0.29rem;
                      color: #1b1b1b;
                      margin-bottom: 0.25rem;
                     
                  }
                  p{
                      width: 5.09rem;
                      height: auto;
                      font-size: 0.24rem;
                      color: #aeaeae;
//                    margin-bottom: 0.31rem;
                  }
             ul{
                 .box;
                 width: 1.31rem;
                 height: auto;
                 li{
                     margin-left: 0.03rem;
                     &.a{
                          font-size: 0.3rem;
                         color: #ff748b;
                         margin-top: 0.3rem;
                     }
                     &.b{
                         font-size: 0.4rem;
                         color: #ff748b;
                         margin-top: 0.2rem;
                     }
                     &.c{
                          font-size: 0.3rem;
                         color: #b5b5b5;
                          margin-top: 0.2rem;
                     }
                 }
             }
              }
          }
          }
      }
  }
  footer{
      .full(100%,0.98rem,red);
      .box;
      dl{
          -webkit-box-flex: 1;
          
          dt{
//            margin-left: 1rem;
            text-align: center;
            img{
                width: 0.49rem;
                height: 0.47rem;
                margin-top: 0.13rem;
            }
            
          }
          
          dd{
              text-align: center;
              font-size: 0.22rem;
              color: #f9dee4;
              margin-top: 0.06rem;
          }
      }
  }
}
